:root {
  --font-titulo: "PT Serif", serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.border {
  border-style: solid;
  border-width: 1px;
}

#userstories {
  margin-left: 5%;
}

form {
  width: 90%;
  max-width: 400px;
  padding: 5px;
  margin-inline: auto;
}

#bookDetail,
#display {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}
code {
  background-color: whitesmoke;
}
header {
  background-color: #eee;
}
#sampleui {
  background-color: beige;
}
h1,
h2 {
  font-family: var(--font-titulo);
  text-decoration: underline;
}
h2 {
  font-weight: 700;
}
h4 {
  background-color: #eee;
}

.bookItem {
  cursor: pointer;
  border: 1px solid black;
}

.bookItem:hover {
  background-color: blue;
  color: white;
}
